@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
body {
  background-color: rgb(244, 217, 221);
  display: flex;
  justify-content: center;
  font-family: "Red Hat Text", serif;
}
.whole-section {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}
.products-section {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}
 
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}
 
@media (max-width: 1300px) {
  .whole-section {
    display: flex;
    flex-direction: column;
  }
}
 
@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-section {
    max-width: 70%;
  }
}
 
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }
}
 
.product-card {
  background: transparent;
  text-align: center;
}
 
.product-card picture {
  display: block;
}
 
.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 
/* Add to Cart Button Styling */
.add-to-cart {
  position: absolute;
  transform: translate(-50%, -70%);
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 35px;
  /* width: 13.2rem; */
  height: 4rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
 
@media (max-width: 768px) {
  .add-to-cart-button {
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
  }
}
 
@media (max-width: 480px) {
  .add-to-cart-button {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
}
 
.add-to-cart:hover {
  color: rgb(246, 124, 27);
  border-color: rgb(246, 124, 27);
}
 
/* Product Information */
.product-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img {
  border-radius: 15px;
  position: relative;
}
.product-info .category {
  font-size: 1.3rem;
  color: grey;
}
 
.product-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(83, 82, 82);
}
 
.product-info .price {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(169, 46, 1);
}
 
.cart-section {
  text-align: center;
  padding-top: 5rem;
  padding-left: 2rem;
  width: 30%;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 30rem;
}
 
.cart .cart-icon {
  font-size: 5rem;
}
.cart-title {
  color: rgb(169, 46, 1);
  font-family: Arial;
}
.cart-message {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgb(153, 104, 104);
  font-weight: bold;
  font-family: Arial;
}

/* red border for added items */
.product-card.in-cart .img {
  border: 2px solid red;
}
.quantity-controls {
  position: absolute;
  transform: translate(-50%, -70%);
  background: rgb(164, 45, 8);
  color: white;
  border: 1px solid white;
  border-radius: 35px;
  height: 4rem;
  padding: 0.2rem 2.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.decrement-button{
  color: white;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-item{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  font-size: 1.3rem;
  padding-top: 1.5rem;
  /* padding-bottom: 0.7rem ; */
}
.remove-item{
  background-color: white;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  border:2 px solid rgb(176, 74, 105);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confim-btn{
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(164, 45, 8);
  border: none;
  font-size: 1.3rem;
  color: white;
  border-radius: 70px;
  font-weight: bold;
}
.carboneutral{
  width: 2rem;
  height: 2rem;
}